
<div class="footer">
  <h1>CONTACTEAZĂ-NE:</h1>
  <p class="contactInfo"><a href= “tel:+40769677121><i class="fas fa-solid fa-phone"></i>+40 769 677 121</a></p>
  <p class="contactInfo"><a href="mailto:soniapetreanu@yahoo.com"><i class="fas fa-solid fa-envelope"></i>soniapetreanu@yahoo.com</a></p>
</div>
