<%- include("partials/header") -%>
<div class="container1">
  <img class="background" src="/images/crowd.jpg" alt="crowd image"/>
  <div class="titleButton">
<h1 class="title">Agenție de Recrutare Personal</h1>
<a class="btn btn-success btn-lg" href="/contact" role="button">Vreau Muncitori Asia</a>
</div>
</div>
<div class="descriere">
  <div class="pdescriere">
  <h2>Muncitori din Asia pentru compania ta</h2>
  <p >App Recrutare –  este conștientă de nevoia mare de personal sau fluctuația de personal, pentru afacerile din România. De aceea agenția noastră de recrutare vine în întâmpinarea nevoilor afacerii tale: recrutăm muncitori asiatici – personal calificat și necalificat, pentru a putea aduce un plus de valoare în domenii precum construcții, agricultură, FMCG, menaj, producție , HoReCa și multe altele.</p>
  </div>
  <img class="workersimg" src="/images/workers.png" alt="workers img">
  </div>
  <div class="dece">
  <h2>De ce muncitori asiatici?</h2>
  <div class="container">
  <div class="row align-items-start">
    <div class="col">
      <i class="fas fa-handshake fa-5x"></i>
      <h3>Stabilitate</h3>

<p>
Contractul și condițiile de ședere recomandă o colaborare pe minim 2 ani pentru forța de muncă din Asia, ceea ce înseamnă stabilitate. Înainte de selecție, muncitorii sunt verificați și testați în ce privește stabilitatea și experiența profesională.</p>
    </div>
    <div class="col">
    <i class="far fa-clock fa-5x"></i>
      <h3>Muncitori și loiali</h3>
<p>
Muncitorii asiatici pe care îi recrutează agenția noastră sunt motivați să muncească atât prin prisma faptului că au un respect aparte pentru muncă, ca parte din cultura țării de origine, dar și din faptul că vor să-și ajute familiile rămase acasă fiind deschiși la ore suplimentare.</p>
    </div>
    <div class="col">
      <i class="fas fa-briefcase fa-5x"></i>
      <h3>Eficiență și Predictibilitate</h3>
<p>
Costuri mai scăzute pentru angajatori, atât prin prisma rezolvării problemei cu fluctuația de personal și implicit predictibilitate mai mare în ceea ce privește strategia de business, cât mai ales prin eficientizarea cheltuielilor, lucrul cu personalul asiatic costă adesea mai puțin și oferă un randament crescut.</p>
    </div>
  </div>
</div>
<hr>
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <img src="/images/worker.jpg" alt="worker" style="width:300px;height:200px">
    </div>

    <div class="flip-box-back">
      <p>De la A la Z suntem alături de clienții noștri, întocmind documentația necesară pentru fluidizarea tuturor formalităților de imigrare.</p>
    </div>
  </div>
</div>
<p class="textwrap"><i>Serviciile noastre</i> sunt complete și la cerere. În funcție de solicitare, oferim suport prin servicii conexe: transport, cazare muncitori asiatici, consultanță legislativă, mediere, servicii de integrare culturală sau de învățare limba română. Sau dacă preferi ca responsabilitatea contractelor de muncă și tot ce derivă de aici să fie pe umerii noștri în totalitate, oferim muncitori asiatici în sistem leasing.</p>
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <img src="/images/worker2.jpg" alt="worker" style="width:300px;height:200px">
    </div>

    <div class="flip-box-back">
      <p>Oferim cursuri de limba engleză pentru o comunicare eficientă dar și workshop-uri prin intermediul cărora angajații străini vor cunoaște mai bine cultura românească.</p>
    </div>
  </div>
</div>
<p class="textwrap">Oferim garanție pentru personalul asiatic: înțelegând că aducerea și integrarea muncitorilor care provin din țări și culturi diferite nu este neapărat ușoară, în cazul în care candidații nu corespund cerințelor companiei și este eroarea noastră,<i> îi vom înlocui în mod gratuit.</i></p>

<%- include("partials/footer") -%>
